<article class="about-box">
<h1>About Me</h1>
<p>I'm Mike Mogosanu, a software developer and part-time entrepreneur from Canada, with over 15 years professional experience in designing and building applications from scratch. While my preferred stack is .Net, I'm more interested in building a quality product, regardless of the tech involved.
  I own and contribute to several <a href="https://github.com/sapiens">OSS projects (C#)</a> and I like to help other developers solve their problems on <a href="http://stackoverflow.com/users/1017868/mikesw">StackOverflow</a>. The easiest way to contact me is via Twitter or Github.
  </p>
  <p>
  As a business graduate with very strong (mostly self-taught) technical background, I speak the language of product owners and users to bridge the gap between business and IT. 
    
    My startup experience allowed me to develop a multidimensional strategic thinking, to see the big picture while also being able to pin point and focus on specific relevant details as needed.
  </p>
  <p>
  On this blog I write for both developers and business people. This is my way of sharing what I've learned over the years and speaking about learning the hard way i.e trying and failing, here are some conclusions:
  </p>
  <ul class="about-list">
    <li> time is a finite resource that should never be wasted;</li>
  <li>user experience makes or breaks a product;</li>
  <li>codebase maintainability requires in-depth design with the simplest implementation;</li>
    <li>in most cases proper business functionality is more important than tech quality;</li>
    <li>unexpected things happen often, adapt and overcome is the rule, not the exception;</li>
    <li>failure signals the need for deeper understanding and a change of strategy/tactic.</li>
  </ul>
 </article>
</main>