 <article>
    <header>
      <h1>@Metadata["Title"]</h1>
      <div class="article-meta">
      <span>published on &nbsp; <b>@DateTime.Parse(Metadata["Published"].ToString()).ToString("dd MMMM yyyy")</b></span> in <a href="/tags.html#@Metadata["tags"]">@Metadata["tags"]</a>
    </div>
    </header>
  <div class="post">
 
@Html.Raw(Metadata["Post"])
 </div>
 <footer>
   <div class="sharethis-inline-share-buttons"></div>
@{
  var prev=Metadata["Prev"]?.ToString();
  var next=Metadata["Next"]?.ToString();

  //prev=prev?.Substring(0,prev.Length-5);
  //next=next?.Substring(0,next.Length-5);
}

   @if(prev!=null)
   { <a class="previous" href="/@prev">&laquo; Previous</a> }

   @if(next!=null)
   { <a class="next" href="/@next">Next &raquo;</a> }
   
 </footer>
  </article>